__pycache__/
cookies/
temp_data/
.env
prepare/*.parquet
prepare/*/*.parquet
prepare/*.txt
prepare/*/*.txt
prepare/*.json
prepare/*/*.json
prepare/*.csv
prepare/*/*.csv
prepare/*/*.bin
prepare/*.bin
prepare/*/*.npy
annotation/*.parquet
annotation/*.npy
annotation/*.csv
annotation/*.bin
